<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}
body {
  font: 16px Arial;  
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
#map { position:absolute; top:150px; bottom:0; width:100%; }
</style>
</head>     

<body>

<h2>Climate Disasters</h2>

<p>Input disaster type and dates</p>

<form autocomplete="off" action="javascript:addMapLayer()" >
  <span style="float:left; margin-right:20px;"> 
  
  <div class="autocomplete" style="width:300px;">
    <input id="inputType" type="text" name="disaster" placeholder="Disaster Type e.g. Tornado">
  </div>
  <div class="autocomplete">
    <input id="inputStartDate" type="text" name="startDate" placeholder="Start Date" onfocus="(this.type='date')" onblur="(this.type='text')">
  </div>
  <div class="autocomplete">
    <input id="inputEndDate" type="text" name="endDate" placeholder="End Date" onfocus="(this.type='date')" onblur="(this.type='text')">
  </div>
  <input id="submitButton" type="submit">
</span>
</form>

<div id='map'></div>

<script src='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.css' rel='stylesheet' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
/* Autocomplete Template from https://www.w3schools.com/howto/howto_js_autocomplete.asp */
function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
      });
}
var disasterTypes = {{ t|tojson|safe }};

autocomplete(document.getElementById("inputType"), disasterTypes);

</script>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiY2Fwcmlwb3QiLCJhIjoiY2pjMDJqcDhsMDQ2MzJ4bW85MTR0YXBzYiJ9.Ag9mIZTDONNN9JdN2kW76g';
  var map = new mapboxgl.Map({
    container: 'map',
    maxZoom: 5.5,
    minZoom: 1.8,
    style: 'mapbox://styles/mapbox/light-v9',
    center: [-115.36957574368233, 50.732480262447524],
    zoom: 2.850019725398168
  });

  map.on('click', 'us-states', function(e) {
    var coordinates = almostFlatten(e.features[0].geometry.coordinates);
    var bounds = new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]);
    coordinates.forEach(function(coord) {
      bounds.extend(coord);
    })

    map.fitBounds(bounds, { padding: 100 });
  });

  function almostFlatten(arr) {
    return arr.reduce(function (flat, toFlatten) {
      return flat.concat(Array.isArray(toFlatten[0]) ? almostFlatten(toFlatten) : [toFlatten]);
    }, []);
  }

  function addMapLayer(){
    var disaster = document.getElementById('inputType').value;
    var startDate = document.getElementById('inputStartDate').value;
    var endDate = document.getElementById('inputEndDate').value;

    var posting = $.post("https://0.0.0.0:"+{{port}}, {
      'disaster': disaster,
      'startDate': startDate,
      'endDate': endDate
    });
    /*
    send a POST request to flask
    returns data, a string representation of parsed
    geojson to be added as a layer in map
    */
    posting.done(function( data ){

      if (map.getLayer('disaster-state-layer')) {
        map.removeLayer('disaster-state-layer');
        map.removeSource('disaster-state-layer')
      }

      var layers = map.getStyle().layers;
      var firstSymbolId;
      for (var i = 0; i < layers.length; i++) {
          if (layers[i].type === 'symbol') {
              firstSymbolId = layers[i].id;
              break;
          }
      }

      var statesLayer = map.addLayer({
        'id': 'disaster-state-layer',
        'type': 'fill',
        'source': {
          type: 'geojson',
          data: JSON.parse(data)
        },
        'paint': {
                'fill-color': '#23A4FF',
                'fill-opacity': 0.75
          }
      }, firstSymbolId);
    });
  }
</script>
</body>
</html>
